.mt-50 {
    margin-top: 50px;
}

.flight-name {
    text-align: start;
    padding: 10px;
}

.float-right {
    float: right;
}

.ml-365 {
    margin-left: 378px;
}

.booked {
    background-color: #45ff45;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
}

.response-id {
    text-align: center;
}