<div class="container mt-50">
    <div class="card">
        <div class="card-header">
            <h4>Select Flight</h4>
        </div>
        <div class="card-body" *ngIf="!booking">
            <h5 class="card-title">Departing Flight</h5>
            <div class="card" *ngFor="let flight of flights">
                <div class="flight-name">
                    <span><strong>Departing From: </strong></span>
                    <span>{{ flight?.route_id?.departure_city }}</span>
                    <span>
                        <img alt="flight" src="../assets/flight.png" />
                    </span>
                    <span><strong>Arriving To: </strong></span>
                    <span>{{ flight?.route_id?.arrival_city }}</span>
                </div>
                <div class="flight-name">
                    <span><strong> At: </strong>{{ flight?.departure_time }}</span>
                    <span class="ml-365"><strong> At: </strong>{{ flight?.arrival_time }}</span>
                </div>
                <div class="flight-name">
                    <span><strong>Company: </strong></span>
                    <span>{{ flight?.plane_id?.company }}</span>
                    <button type="button" class="btn btn-primary btn-lg float-right"
                        (click)="selectDepartingFlight(flight)">Select</button>
                </div>
            </div>
        </div>

        <!-- <div class="card-body" *ngIf="isRoundTrip">
            <h5 class="card-title">Return Flight</h5>
            <div class="card" *ngFor="let flight of flights">
                <div class="flight-name">
                    <span><strong>Departing From: </strong></span>
                    <span>{{ flight?.route_id?.departure_city }}</span>
                    <span>
                        <img alt="flight" src="../assets/flight.png" />
                    </span>
                    <span><strong>Arriving To: </strong></span>
                    <span>{{ flight?.route_id?.arrival_city }}</span>
                </div>
                <div class="flight-name">
                    <span><strong> At: </strong>{{ flight?.departure_time }}</span>
                    <span class="ml-365"><strong> At: </strong>{{ flight?.arrival_time }}</span>
                </div>
                <div class="flight-name">
                    <span><strong>Company: </strong></span>
                    <span>{{ flight?.plane_id?.company }}</span>
                    <button type="button" class="btn btn-primary btn-lg float-right"
                        (click)="selectDepartingFlight(flight)">Select</button>
                </div>
            </div>
        </div> -->

        <div class="card-body" *ngIf="booking">
            <h5 class="card-title">Your Booking</h5>
            <div class="card" *ngFor="let flight of booking">
                <div class="flight-name">
                    <span><strong>Departing From: </strong></span>
                    <span>{{ flight?.trip_id?.route_id?.departure_city }}</span>
                    <span>
                        <img alt="flight" src="../assets/flight.png" />
                    </span>
                    <span><strong>Arriving To: </strong></span>
                    <span>{{ flight?.trip_id?.route_id?.arrival_city }}</span>
                </div>
                <div class="flight-name">
                    <span><strong> At: </strong>{{ flight?.trip_id?.departure_time }}</span>
                    <span class="ml-365"><strong> At: </strong>{{ flight?.trip_id?.arrival_time }}</span>
                </div>
                <div class="flight-name">
                    <span><strong>Company: </strong></span>
                    <span>{{ flight?.trip_id?.plane_id?.company }}</span>
                </div>
                <div class="flight-name">
                    <span><strong>Trip Date: </strong></span>
                    <span>{{ flight?.trip_id?.date }}</span>
                    <button type="button" class="btn btn-primary btn-lg float-right"
                        (click)="selectDepartingFlight(flight)">Select</button>
                </div>

            </div>
        </div>

    </div>
</div>