.form-label {
    text-align: start;
    max-width: 200px !important;
}

.select-element {
    text-align: start;
    max-width: 215px;
}

.w-237 {
    max-width: 237px;
}

.mt-50 {
    margin-top: 50px;
}