<app-loader></app-loader>
<div class="container mt-50">
    <div class="card">
        <div class="card-header">
            <h4>Add Passenger details</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="addPassengerForm">
                <div class="form-group row">
                    <label for="FirstName" class="col-sm-3 col-form-label form-label">First Name: </label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="FirstName" formControlName="firstName"
                            placeholder="Enter First Name" list="fromList" autocomplete="off">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="LastName" class="col-sm-3 col-form-label form-label">Last Name: </label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="LastName" formControlName="lastName"
                            placeholder="Enter Last Name" list="fromList" autocomplete="off">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="LastName" class="col-sm-3 col-form-label form-label">Email: </label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="LastName" formControlName="email"
                            placeholder="Enter Email" list="fromList" autocomplete="off">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="age" class="col-sm-3 col-form-label form-label">Age: </label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="age" formControlName="age"
                            placeholder="Enter your age" list="fromList" autocomplete="off">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="SexSelect" class="col-sm-3 col-form-label select-element">Sex: </label>
                    <select class="form-control col-sm-3 w-237" id="SexSelectForm" formControlName='sex'>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label for="SelectSeat" class="col-sm-3 col-form-label form-label">Select Seat: </label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="SelectSeat" formControlName="chooseSeats"
                            placeholder="Select Seat" list="availableSeats" autocomplete="off">
                        <datalist id="availableSeats">
                            <span *ngFor="let seat of availableSeats">
                                <option value="{{seat}}">
                                    {{seat}}</option>
                            </span>
                        </datalist>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="FoodPref" class="col-sm-3 col-form-label form-label">Food: </label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="FoodPref" formControlName="foodName"
                            placeholder="Enter Food Preference" list="foodList" autocomplete="off">
                        <datalist id="foodList">
                            <span *ngFor="let food of foodPrefs">
                                <option value="{{food?.id}}">
                                    {{food?.food_name}}</option>
                            </span>
                        </datalist>
                    </div>
                </div>
                <div class="float-right">
                    <button type="button" class="btn btn-primary btn-lg" (click)="buildPassengerObj()">Add details</button>
                </div>
            </form>
        </div>
    </div>
</div>